<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Posts</title>
  </head>
  <body>
    <h1>Add Your Post</h1>
    <form method="post" action="/posts">
      <div class="post">
        <input type="text" placeholder="Enter username" name="username" />
        <textarea
          name="content"
          placeholder="write your content here"
        ></textarea>
        <button>Submit</button>
      </div>
    </form>
  </body>
</html>
