<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Detail</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>See your Post in Details</h1>
    <div class="post">
      <p>Id: <%= post.id %></p>
      <h3 class="user">Username: <%= post.username %></h3>
      <p class="content">Post Content: <%= post.content %></p>
    </div>
  </body>
</html>
